@media (min-width:992px){
    .buton-konum{
        position: absolute;
        right: 80px;
    }
}
@media (max-width:412px){
.logo-w{
    width: 250px;
}
}
@media (min-width:500px){
    .footer-div{
        position: fixed;
    }  
}
 
@media(max-width:375px){
    .form-wrap{
        width: 375px!important;
    }
}

@media(max-width:360px){
    .form-wrap{
        width: 360px!important;
    }
}

.nav-width{
    height: 100px;
}


.logo-ft{
    height: 90px;
    margin-top: 10px;
}

.form-wrap{
    width: 400px;
    height: 400px;
    margin-top: 150px;
  

}
.giris-btn{
    height: 60px;
}
.input-h{
    height: 50px;
}

.fr-baslik{
   font-size: 18pt;
}
.footer-div{
    background-color: #d3d3d3;
    margin-top: 150px;
    bottom: 0;
    width: 100%;
}

