html{
    height: 100%;
}

body{
min-height: 100%;
display: grid;
grid-template-rows: 1fr auto;
}

@media (min-width:992px){
    .buton-konum{
        position: absolute;
        right: 80px;
    }
}
@media (max-width:412px){
.logo-w{
    width: 250px;
}
}

 
@media(max-width:375px){
    .form-wrap{
        width: 375px!important;
    }
}

@media(max-width:360px){
    .form-wrap{
        width: 360px!important;
    }
}
.form-wrap{
        margin-bottom: 50px;
}
.nav-width{
    height: 100px;
}


.logo-ft{
    height: 90px;
    margin-top: 10px;
}

.form-wrap{
    width: 400px;
    height: 410 px;
    margin-top: 160px;
}
@media (max-width:450px){
    .form-wrap{
        margin-top: 64px;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .form-wrap{
        margin-top: 300px;
    }
}

.giris-btn{
    height: 40px;
}
.input-h{
    height: 60px;
}

.fr-baslik{
   font-size: 18pt;
}
.footer-div{
    background-color: #d3d3d3;
    height: 100px;
    grid-row-start: 2;
    grid-row-end: 3; 
}
