html{
    height: 100%;
}
body{
min-height: 100%;
display: grid;
grid-template-rows: 1fr auto;
}
/* ------------------------------- İNDEX.HTML BAŞLANGIÇ ------------------------------- */
@media (max-width: 1014px){
    .btn-bsvr {
        margin-left: 13px;
    }
}

.firmalar {
    margin-top: -150px;
    text-align: center;
}
@media (min-width: 992px){
    .en-son-cards {
        max-width: 960px;
    }
}
@media (min-width:768px)
{
    .firma-card-list{
        padding-top: 15px;
    }
    .k-button{
        margin-top: 20px;
    }
}
.kapsayici {
    width: 70%;
    height: 80px;
}
.card-1:hover{
    transform: scale3d(1.10,1.10,1.10);
    -webkit-box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.75);
}
.a-ilan-img {
    height: 40px;
    max-width: 100%;
    width: auto;
}

.k-button {
    margin-top: 20px;
}

.firma-card-list {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-bottom:-25px;
}

.firma-card-list li {
    display: inline-block;
}

.firma-baslik {
    font-size: 18px;
    margin-top: 20px;
}

.c-card-head {
    float: left;
    width: 100%;
}

.ch-col-1 {
    float: left;
    width: 60%;
}

.ch-col-2 {
    float: left;
    width: 40%;
}

.en-son-cards {
    margin-top: 100px;

}

.firma-logo {
    width: 100%;
}

.son-ilan-card {
    width: 365px;
}

.footer-div{
    background-color: #d3d3d3;
    height: 100px;
    grid-row-start: 2;
    grid-row-end: 3; 
}
.logo-ft{
    width: 200px;
    margin-top: 20px;
}
.card-1 {
    background-color: white;
}
.text-p1 {
    font-weight: bold;
}

@media(max-width:414px) {
    .form-wrap {
        margin-top: 136px;
    }
    .form-wrap-bilgi {
        margin-top: 136px;
    }
}

 @media (max-width: 855px) {
    .card-1{
        width: 141px;
    }
    .card {
        width: 140px;
    }
}


@media (min-width: 1200px) {
    .jumbotron {
        height: 250px;
        padding-left: 60px;
    }
    .card {
        width: 430px;
    }
    .card-1 {
        width: 190px;
        background-color: white;
    }
}

@media (max-width: 991px) {
    .card-text {
        font-size: 12px;
    } 

    .firma-card-ilk {
        margin-left: 18px;
    }

    .firmalar {
        margin-top: -120px;
    }
    .btn-bsvr {
        margin-left:0;
    }
}

@media (min-width: 1015px) {
    .c-mr-3 {
        margin-right: 1rem;
    }    
}

/* large ve xlarge için geçerli */
@media (min-width: 992px) and (max-width: 1199px){
    .jumbotron {
        height: 250px;
        padding-left: 60px;
    }
    .card-1 {
        width: 160px; 

    }
    .text-p1 {
        font-size: 10pt;
        font-weight: bold;
    }
    
}
/* medium ekran için geçerli */
@media (min-width: 769px) and (max-width: 991px) {
    .jumbotron {
        height: 230px;
        padding-left: 40px;
    }
    .kart {
        visibility: hidden;
    }
    .card {
        width: 150px;
    }
    .card-1 {
        width: 150px;
    }
}
/* small ekran için geçerli */
@media (min-width: 576px) and (max-width: 900px) {
    .jumbotron {
        height: 175px;
        padding-left: 20px;
    }
    .kart {
        visibility: hidden;
    }
    .son-ilan-card {
        width: 225px;
    }
    .card-1 {
        width: 140px;
    }
    .text-p1 {
        font-size: 8pt;
        font-weight: bold;
    }

    .firmalar {
        margin-top: -80px;
    }
}

@media (max-width: 575px) {
    .jumbotron {
        height: 175px;
        padding-left: 20px;
    }
    
}

@media  (max-width:991px) {
    .son-ilan-card {
        width: 100%;
    }
}

@media (max-width:855px){
    .son-ilan-card{
        text-align: center; 
    }
    .k-button{
        margin-top: 203px;
    }
}
    .k-button:hover{
        background-color: #1c191b;
        color: white;
    }

@media (max-width:855px){
    .footer-div-ilan-yonet {
        margin-top: 0;
    }
    .k-button {
      margin-top: 20px;  
    }
    .kapsayici {
        margin-top: 0px!important;
        height: 0px;
    }
}

@media (max-width:518px) {
    .son-visible{
        visibility: visible;
    }
}

@media (max-width:855px)  {
    .kapsayici {
        margin-top: -200px;
    }
    .all-content {
        padding-bottom: 132px!important;
    }
}

@media (min-width:992px) {
    .buton-konum {
        position: absolute;
        right: 80px;
    }
}
@media (max-width:412px) {
    .logo-w {
        width: 250px;
    }
}

@media(min-width:360px) and (max-width:414px) {
    .logo-ft {       
            width: 190px;
            height: 57px;    
    }
}

@media(max-width:1024px){
    .son-ilan-card{
        width: 100%;
    }
    .firma-logo{
        width: 60%;
        float: right;
    }
}

/* ------------------------------- İNDEX.HTML BİTİŞ ------------------------------- */
/* ------------------------- GİRİŞ SAYFALARI ------------------------- */

.form-wrap{
    width: 410px;
    margin-top: 160px;
    margin-bottom: 50px;
}
.form-wrap-bilgi{
    width: 550px;
    margin-top: 75px;
    margin-bottom: 50px;
}

@media(max-width:375px){
    .form-wrap{
       width: 100%;
    }
    .form-wrap-bilgi {
        width: 100%;
    }
}

@media(max-width:360px){
    .form-wrap{
        width: 300px;
    } 
    .form-wrap-bilgi {
        width: 300px;
    }
}
@media(max-width:300px){
    .form-wrap{
        width: 180px;
    }
    .form-wrap-bilgi {
        width: 180px;
    }
}

/* ------------------------- GİRİŞ SAYFALARI ------------------------- */


/* ----------------- ilanlar.html BAŞLANGIÇ----------------- */


.all-content {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}
@media(max-width:500px){
    .all-content-ilanlar{
    overflow: auto;
}
}
@media(max-width:400px){
    .sirket-logo{
        width: 170px;
       
    }
    .sirket-ad{
        font-size: 12px;
    }
    .ilan-sag-img{
        margin-right:-25px;
    }
}

.container-ilanlar {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
/* ----------------- İLANLAR SOL BAŞLANGIÇ ------------------ */

.container-ilanlar .sol {
    box-sizing: border-box;
    width: 40%;
    float: left;
    padding: 30px;
}
/* ----------------- Search kısmı BAŞLANGıÇ------------------ */
.arama {
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
    padding: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);

}

.ara input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgba(182, 182, 182, 0.867);
    border-radius: 6px 0px 0px 6px;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.ara button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #3d3d3d;/* VE BURASI da SİLNEBİLİR!!!!!!!!!!!!!!! */
    color: white;
    font-size: 17px;
    border-radius: 0px 6px 6px 0px;/* İleride Bura silinebilir unutma! Ömer14/04/2018 de burayı silmişti şimdilik dokunmuyorum! */
    border-left: none;
    cursor: pointer;
}

.ara button:hover {
    background: #262626;
}

.ara::after {
    content: "";
    clear: both;
    display: table;
}

/* ----------------- Search kısmı BİTİŞ ------------------ */

/* ----------------- BOLUM ARAMA KISMI BAŞLANGIÇ ------------------ */
.bolum-content {
    width: 100%;
    height: 350px;
    padding: 25px 30px 25px 30px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
.bolum-sec {
    width: 100%;
    height: 290px;
    overflow-y: scroll;
    padding-left: 20px;
}
.md-checkbox {
    position: relative;
    margin: 16px 0;
    text-align: left;
  }
  .md-checkbox.md-checkbox-inline {
    display: inline-block;
  }
  .md-checkbox label {
    cursor: pointer;
    font-weight: 500;
    height: 20px;
    display: block;
    float: left;
    margin-left: 30px;
    line-height: 20px;
  }
  .md-checkbox label:before, .md-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
  .md-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
  }
  .md-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
    visibility: hidden;
  }
  .md-checkbox input[type="checkbox"]:checked + label:before {
    background: #007bff;
    border: none;
  }
  .md-checkbox input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg);
    top: 5px;
    left: 4px;
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
  }
  .md-checkbox input[type="checkbox"]:disabled + label:before {
    border-color: rgba(0, 0, 0, 0.26);
  }
  .md-checkbox input[type="checkbox"]:disabled:checked + label:before {
    background: rgba(0, 0, 0, 0.26);
  }
/* ----------------- BOLUM ARAMA KISMI BİTİŞ ------------------ */
/* ----------------- İLANLAR SOL BİTİŞ ------------------ */
/* ----------------- İLANLAR SAĞ BAŞLANGIÇ ------------------ */
.container-ilanlar .visible {
    box-sizing: border-box;
    width: 60%;
    float: left;
    padding-top: 30px;
}

.ilan-baslik {
    width: 100%;
    height: 50px;
    font-size: 16pt;
    padding: 10px;
    margin-bottom: 2px;
    background-color: white;
    text-align: center;
    
}

.ilanlar-content {
    width: 100%;
    height: 135px;
    background-color: white;
    margin-bottom: 2px;
    padding: 25px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); 
}
.ilanlar-content:hover {
    transform: scale3d(1.03,1.03,1.03);
    -webkit-box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.75);
    
}

.ilanlar-content p {
    font-size: 10pt;
    margin: 0px;
}
.ilanlar-content .p1 {
    font-size: 10pt;
    color: #8c8c8c;
   
}
.ilanlar-content a {
    text-decoration: none;
    color: #1a1a1a;
}
a:hover{
    text-decoration: none;
    color: #1a1a1a;
}
.ilan-logosu {
    float: right;
    margin-top: -45px;
}
.ilan-logosu img {
    max-width: 190px;
    max-height: 65px;  
}
/* ----------------- İLANLAR SAĞ BİTİŞ ------------------ */
/* ---------------- FOOTER-DİV-BAŞLANGIÇ ---------------- */
.footer-div-ilanlar {
    margin: 0;
    background-color: #d3d3d3;
    height: 100px;
    text-align: center;
}
/* ilan-yonet footer */
.footer-div-ilan-yonet {
    background-color: #d3d3d3;
    height: 100px;
}
/* ilan-yonet footer */
/* -- Footer-Div -- */
@media (max-width: 1200px) {
    .container-ilanlar {
        max-width: 700px;
        width: auto;
        box-sizing: border-box;
       
    }
    .container-ilanlar .sol {
        width: 100%;
    }
    .container-ilanlar .visible {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
        padding-bottom: 100px;
    }
}
@media (max-width: 855px) {
    .footer-div-ilanlar .logo-fti{
        height: 58px;
    }
    
}
/* ---------------- FOOTER-DİV-BİTİŞ ----------------- */
/* ------------ CUSTOM-CHECKBOX-BAŞLANGIÇ ------------ */
/* Öncelikle Etiketi özelleştirdik. */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 25px;
}
  
/* Tarayıcınn varsayılan checkbox'ını gizledik. */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Yeni özel checkbox oluşturduk. */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background-color: #eee;
    border: 1px solid #cccccc;
}
  
/* Fareyi checkbox üzerine getirdiğimizde arka planını gri yaptık. */
.container-check:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* checkbox işaretlendiğinde arkaplan mavi yaptık. */
.container-check input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Check işaretini oluşturduk ancak seçili değilkeen gizledik. */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* İşaretlendiğinde görünür yaptık. */
.container-check input:checked ~ .checkmark:after {
    display: block;
}
  
/* Onay işaretinin özelliklerini konum ve boyut ayarlarını yaptık. */
.container-check .checkmark:after {
    left: 8px;
    top: 2.5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ----------------- CUSTOM-CHECKBOX-BİTİŞ ------------------ */
    

/* ------------------ ilanlar.html \BİTİŞ/ ------------------- */

/* ------------------- SİFRE-DEGİS-BASLA -------------------- */

.btn-sifre{
    margin-top: 30px;
}

/* ------------------- SİFRE-DEGİS-BİTİŞ -------------------- */

/* ilan-yonet */
.sol-yonet{
    margin-top: -52px;
}
/* ilan-yonet */

/*--------------- FİRMA-ÖĞRENCİ-PROFİL-BAŞLA ------------------ */
.card-baslik{
    cursor: pointer;
}
#ilanlar, #sifre {
    display: none;
}

.bolumsec {
    width: 100%;
}
.uyari{
    display: none;
}

.bolum-sec-pro {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    padding-left: 20px;
}

.f-pro-sag-active {
    background: #007bff ;
    color: white;
}

.card-baslik:hover{
    color:#007bff;
    
}
.giris-btn{
    height: 40px;
}
.prf-btn{
    color: black;
    background-color: #f2f2f2;
    display:inline;
}
.prf-btn:hover{
    background:#007bff;
    color: white;
    
}
.input-h{
    height: 40px;
}

.fr-baslik{
   font-size: 18pt;
}

.paragraf{
    display: inline;
}
.profil-baslik{
    display: inline;
}
.logo-w{
    width: 200px;
}

.logo-w:hover{
    filter: brightness(10%);
}
.prf-kapsar{
    padding-top: 50px;
    padding-left:130px;
}
.img-body{
    line-height: 150px;
    width: 100%;
    
}
.card-body a{
    text-decoration: none;
}
.profil-card{
    width: 100%;
    margin-top: 50px;
}
.img-body{
    line-height: 150px;
   
  
}
.img-boy{
    margin:auto;
    width: 200px!important;
}
.form-kart{
    width: 100%;
    margin-top: 50px; 
}
.area{
    resize: none;
}
.btns-kapsar{
    text-align: right;
    margin-top: -30px;
}

@media (max-width:1200px){
  .img-boy{
      max-height: 80px;
      width: auto;  
     
    }
    .butons{
        width: 200px;
        font-size: 14px;
        text-align: center; 
        height: 30px;
    }
}
@media (max-width:380px){
    .btns-kapsar{
        margin-left: 15px;
    }
    .ilanlar-content p{
        font-size: 8pt;
    }
}

@media (max-width:505px){
    .p-yonet{
        font-size: 9px;
           text-align: center; 
       }
   .ilan-alt{
       font-size:10px;
   }
}
@media (max-width:414px){
   .container-ilanlar .sol{
        padding: 0;
     
    }
    .alt-card{
        margin-top: -19px;
    }
    .form-kart{
        margin-top: -30px;
    }
}
#visible-2 {
    display: none;
}
#visible-3{
    display: none;
}
.visible-margin{
    margin-top: 51px;
}
/*--------------- FİRMA-ÖĞRENCİ-PROFİL-BİTİŞ ------------------ */

/*--------------- İLAN.html-BAŞLANGIÇ ------------------ */
.ilan-all-content {
    background-color: #f2f2f2;
}
.ilan-content-wrap {
    width: 1100px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 10px;

}

@media (max-width: 1200px){
    .ilan-content-wrap {
        max-width: 700px;
        width: auto;
        box-sizing: border-box;
    }
    .ilan-sag {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
        padding-bottom: 100px;
    }
    
}
/* ---------------İLAN SOL BAŞLANGIÇ ------------------ */
.ilan-sag {
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); 
}

.ilan-content-header {
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #f2f2f2;
    padding: 20px;
}
.ilan-content-header .h3{
    color: #007bff;
}
.ilan-content-header span {
    font-weight: bolder;
}
.ilan-content {
    width: 100%;
    padding: 20px;
    font-size: 15pt;
}
.ilan-cntnt {
    width: 100%;
    min-height: 300px;
    height: 100%;
}


/* ---------------İLAN SOL BİTİŞ ------------------ */

/* ---------------İLAN SAĞ BAŞLANGIÇ ------------------ */
@media(max-width:1200px){
    .ilan-sag{
        width: 100%;
    }
}

.basvur-btn {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;

}
.basvur-aktif-btn {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: none;
}
.bsvr-btn {
    min-width: 100px;
    width: 50%;
}
.ilan-prf-card{
    width: 100%;
}

.card-profil {
    padding-top: 0px;
}

.ilan-sirket-ad {
    box-sizing: border-box;
    font-size: 15px;
}
/* ---------------İLAN SAĞ BİTİŞ ------------------ */

/*----------------- İLAN.html-BİTİŞ ------------------ */
/* -------------------YÖNETİCİ PANELİ-----------------------------*/
.dropdown-admin{
    left: 30px;
}
.yonetici-active {
    margin-top: 10px;
    border-top: 1px solid #c4c4c4;
}
.yonetici-baslik {
    width: 100%;
    height: 50px;
    font-size: 16pt;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}
.btns-kapsar-sirket {
    text-align: center;
}

.sirket-logosu {
    float: right;
    margin-top: -65px;
}
.sirket-logosu img {
    max-width: 190px;
    max-height: 65px;  
}
.content_c{
    display: none;
}
.ilan-baslik-admin {
    width: 100%;
    height: 65px;
    font-size: 16pt;
    padding: 10px;
    margin-bottom: 2px;
    background-color: white;
    text-align: center;
}
.form-group-admin{
    width: 100%;
    display: inline;
    float: left;
}
.admn-ilanbas {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 50px;
}
.sirket-ara{
    width: 100%;
    background-color: white;
}
.srkt-ara input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgba(182, 182, 182, 0.867);
    border-radius: 6px 0px 0px 6px;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.srkt-ara button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #3d3d3d;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    cursor: pointer;
}
.srkt-ara button:hover {
    background: #262626;
}

.srkt-ara::after {
    content: "";
    clear: both;
    display: table;
}
/* -------------------------------------- ÖMERDEN CSSLER --------------------------------------*/
#img_cancel {
    vertical-align: middle;
    color: red;
    cursor: pointer;
    font-size: 18px;
}

#img_del {
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 0px; 
    font-size: 14px; 
    color: darkred;
    text-decoration: underline;
    cursor: pointer;
}

#img_del:hover {
    color: #4a0000;
}
.mandatory_field {
    color: #f70e0e;
    font-size: 12px;
    font-weight: bold;
}
#bilgiler_show {
    padding-top: 80px
}

@media (max-width: 650px) {
    .bilgi_block {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    #bilgiler_show {
        padding-top: 0px
    }
}
.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-toggle {
    min-width: 160px;
}

.text_editor {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 5px;
    height: 220px;
    overflow-y: auto;
    color:rgb(33, 37, 41); 
    font-size: 20px;
}

.te_menu {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.te_menu div {
    list-style: none;
    float: left;
    font-size: 12px;
    background-color: #fff;
    padding: 3px 7px;
    border: 1px solid #ced4da;
    margin-right: 8px;
    cursor: pointer;
}

.te_menu div:hover {
    background-color: #f4f4f4;
}

.m_modal {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    height: 100%;
}

.m_modal_f {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.m_modal_c {
    position: absolute;
    width: 440px;
    height: 110px;
    background-color: #fff;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}


.m_modal_h {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.m_modal_btns {
    text-align: center;
}

.m_modal_btns button{
    display: inline-block;
}

.m_modal_done {
    color: green;
    font-size: 30px;
}

.m_modal_load {
    color: gray;
    font-size: 30px;
}

@media (max-width: 580px) {
    .m_modal_c {
        width: 300px;
        height: 140px;
    }
}
