html{
    height: 100%;
}
body{
min-height: 100%;
display: grid;
grid-template-rows: 1fr auto;
}
.firmalar {
    margin-top: -150px;
    text-align: center;
}

.kapsayici {
    width: 70%;
    height: 80px;
    

}
.k-button{
    margin-top: 20px;
}

.firma-card-list {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-bottom:-25px;
}

.firma-card-list li {
    display: inline-block;
}

.firma-baslik {
    font-size: 18px;
    margin-top: 20px;
}

.c-card-head {
    float: left;
    width: 100%;
}

.ch-col-1 {
    float: left;
    width: 60%;
}

.ch-col-2 {
    float: left;
    width: 40%;
}

 @media (max-width: 855px){
    .card {
        width: 140px!important;
    }
}


@media (min-width: 1200px){
    .jumbotron {
        height: 250px;
        padding-left: 60px!important;
    }
    .card {
        width: 12rem;
    }
}

@media (max-width: 991px){
    .card-text {
        font-size: 12px;
    } 

    .firma-card-ilk {
        margin-left: 18px;
    }

    .firmalar {
        margin-top: -120px;
    }
}

@media (min-width: 1015px){
    .c-mr-3 {
        margin-right: 1rem !important;
    }    
}

/* large ve xlarge için geçerli */
@media (min-width: 992px) and (max-width: 1199px){
    .jumbotron {
        height: 250px;
        padding-left: 60px!important;
    }
    .card {
        width: 11rem;
    }
    
}
/* medium ekran için geçerli */
@media (min-width: 769px) and (max-width: 991px) {
    .jumbotron {
        height: 230px;
        padding-left: 40px!important;
    }
    .kart {
        visibility: hidden!important;
    }
    .card {
        width: 150px;
    }
}
/* small ekran için geçerli */
@media (min-width: 576px) and (max-width: 768px) {
    .jumbotron {
        height: 175px;
        padding-left: 20px!important;
    }
    .kart {
        visibility: hidden!important;
    }
    .card {
        width: 9rem;
    }
    
    .firmalar {
        margin-top: -80px;
    }
}

@media (max-width: 575px) {
    .jumbotron {
        height: 175px;
        padding-left: 20px!important;
    }
    
}

.en-son-cards {
    margin-top: 100px;

}

.firma-logo {
    width: 100%;
}

.son-ilan-card {
    width: 365px;
}

@media (max-width:1199px){
    .son-ilan-card{
        width: 300px;
    }
}


@media  (max-width:991px) {
    .son-ilan-card {
        width: 200px;
    }
}


@media (max-width:855px){
    .hidden-cards{
        visibility:  hidden;
    }
    .son-ilan-card{
        width: 200px!important;
        text-align: center; 
    }
    .k-button{
        margin-top: -10px;
    }
}


@media (min-width:992px){
    .buton-konum{
        position: absolute;
        right: 80px;
    }
}

@media (max-width:767px){
    .son-ilan-card{
        width: 160px!important;
        
    }
    .kapsayici{
        margin-top: -260px!important;
    }
    .footer-div{
        margin-top: 30px;
    }
    .k-button{
      margin-top: 20px;  
    }
}

@media (max-width:518px){
    .son-visible{
        visibility: visible;
    }
}
.footer-div{
    background-color: #d3d3d3;
    height: 100px;
    grid-row-start: 2;
    grid-row-end: 3; 
}
.logo-ft{
    width: 200px;
    margin-top: 20px;
}

@media (max-width:855px){
    .kapsayici {
        margin-top: -200px;
    }
    .logo-ft{
        height: 70px;
        margin-top: 25px;
    }
    .footer-div{
        height: 150px;
      
    }
}

@media (min-width:992px){
    .buton-konum{
        position: absolute;
        right: 80px;
    }
}
@media (max-width:412px){
.logo-w{
    width: 250px;
}
}

 
@media(max-width:375px){
    .form-wrap{
        width: 375px!important;
    }
}

@media(max-width:360px){
    .form-wrap{
        width: 360px!important;
    } 
}
@media(min-width:360px) and (max-width:414px){
    .logo-ft{       
            margin-top: 35px;
            width: 190px;
            height: 57px;    
    }
}
.form-wrap{
        margin-bottom: 50px;
}
.nav-width{
    height: 100px;
}

.form-wrap{
    width: 410px;
    height: 410px;
    margin-top: 160px;
}
@media (max-width:450px){
    .form-wrap{
        margin-top: 64px;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .form-wrap{
        margin-top: 300px;
    }
}

.giris-btn{
    height: 40px;
}
.input-h{
    height: 40px;
}

.fr-baslik{
   font-size: 18pt;
}

.paragraf{
    display: inline;
}
.profil-baslik{
    display: inline;
}
.logo-w{
    width: 200px;
}

.logo-w:hover{
    filter: brightness(10%);
}
.profil-card{
    width: 300px;

}
.prf-kapsar{
    padding-top: 50px;
    padding-left:130px!important;
}
.img-body{
    line-height: 150px;
    width: 100%;
    height: 150px;
}
.card-body a{
    text-decoration: none!important;
}
.prf-btn{
    display:inline!important;
}
/* ----------------- ilanlar.html ----------------- */
.all-content {
    background-color: #f2f2f2;

}
.container-ilanlar {
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
/* ----------------- İLANLAR SOL BAŞLANGIÇ ------------------ */
.container-ilanlar .sol {
    box-sizing: border-box;
    width: 30%;
    height: 500px;
    float: left;
}
/* ----------------- Search kısmı ------------------ */
.arama {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 15px;
    padding: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);

}
.ara input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgba(182, 182, 182, 0.867);
    border-radius: 6px 0px 0px 6px;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.ara button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    cursor: pointer;
}

.ara button:hover {
    background: #0b7dda;
}

.ara::after {
    content: "";
    clear: both;
    display: table;
}

/* ----------------- Search kısmı ------------------ */

/* ----------------- BOLUM ARAMA KISMI BAŞLANGIÇ ------------------ */
.bolum-content {
    width: 100%;
    height: 270px;
    padding: 25px 30px 25px 30px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
.bolum-sec {
    width: 100%;
    height: 220px;
    overflow-y: scroll;
    padding: 20px;
}

/* ----------------- BOLUM ARAMA KISMI BİTİŞ ------------------ */
.arama-buton {
    width: 100%;
    height: 100px;
    padding: 20px 10px 20px 10px;
    background-color: white;  
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); 
}
.arama-buton .search-btn {
    width: 100%;
    height: 60px;
    font-size: 16pt;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;

}
/* ----------------- İLANLAR SOL BİTİŞ ------------------ */
/* ----------------- İLANLAR SAĞ BAŞLANGIÇ ------------------ */
.container-ilanlar .sag {
    box-sizing: border-box;
    overflow: hidden;
    width: calc(70% - 30px);
    height: 600px;
    float: left;
    margin-left: 30px;
}

.ilan-baslik {
    width: 100%;
    height: 50px;
    font-size: 16pt;
    padding: 10px;
    margin-bottom: 2px;
    background-color: white;
    text-align: center;
}

.ilan-content {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 2px;
    padding: 25px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); 
}
.ilan-content a h6 {
    width: 400px;
}
.ilan-content a {
    text-decoration: none!important;
    color: #1a1a1a;
}
a:hover{
    text-decoration: none!important;
    color: #1a1a1a!important;
}
.ilan-content p {
    font-size: 10pt;
    margin: 0px!important;
    width: 400px;
}
.ilan-content .p1 {
    font-size: 10pt;
    color: #8c8c8c;
    width: 400px;
}
.ilan-logosu {
    float: right;
    margin-top: -60px;
}
.ilan-logosu img {
    width: 200px;

}
/* ----------------- İLANLAR SAĞ BİTİŞ ------------------ */
/* -- Footer-Div -- */
.footer-div-ilanlar {
    margin: 0;
}
.footer-div-ilanlar img {
    margin-top: 10px;
}
.logo-fti{
    width: 200px;
    margin-top: 20px;
}


@media (max-width: 1200px) {
    .container-ilanlar {
        max-width: 700px;
        width: auto;
        box-sizing: border-box;
        padding: 20px;
    }

    .container-ilanlar .sol {
        width: 100%;
    }

    .container-ilanlar .sag {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }

}
@media (max-width: 855px) {
    .footer-div-ilanlar .logo-fti{
        height: 58px;
    }

}
/* ------------- custom checkbox ------------- */
/* Öncelikle Etiketi özelleştirdik. */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 25px;
  }
  
  /* Tarayıcınn varsayılan checkbox'ını gizledik. */
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Yeni özel checkbox oluşturduk. */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #cccccc;
  }
  
  /* Fareyi checkbox üzerine getirdiğimizde arka planını gri yaptık. */
  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* checkbox işaretlendiğinde arkaplan mavi yaptık. */
  .container-check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Check işaretini oluşturduk ancak seçili değilkeen gizledik. */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* İşaretlendiğinde görünür yaptık. */
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Onay işaretinin özelliklerini konum ve boyut ayarlarını yaptık. */
  .container-check .checkmark:after {
    left: 8px;
    top: 2.5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* ------------- custom checkbox ------------- */

/* ----------------- ilanlar.html ----------------- */

/*--------------- FİRMA PROFİL ------------------ */
.profil-card{
    width: 100%;

}
.img-body{
    line-height: 150px;
    height: 150px;
}
.card-body a{
    text-decoration: none!important;
}
.form-kart{
    width: 90%;
    height: 550px;
}
.prf-btn{
    display:inline!important;
}
.area{
    resize: none;
}
/*--------------- FİRMA PROFİL ------------------ */