.firmalar {
    margin-top: -150px;
    text-align: center;
}

.firma-card-list {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

.firma-card-list li {
    display: inline-block;
}

.firma-baslik {
    font-size: 18px;
    margin-bottom: 18px;
}

@media (max-width: 855px){
    .card {
        width: 9rem !important;
    }
}

@media (min-width: 1200px){
    .jumbotron {
        height: 250px;
        padding-left: 60px!important;
    }
    .card {
        width: 12rem;
    }
}

@media (max-width: 991px){
    .card-text {
        font-size: 13px;
    } 

    .firma-card-ilk {
        margin-left: 18px;
    }

    .firmalar {
        margin-top: -120px;
    }
}

@media (min-width: 1015px){
    .c-mr-3 {
        margin-right: 1rem !important;
    }    
}

/* large ve xlarge için geçerli */
@media (min-width: 992px) and (max-width: 1199px){
    .jumbotron {
        height: 250px;
        padding-left: 60px!important;
    }
    .card {
        width: 11rem;
    }
    
}
/* medium ekran için geçerli */
@media (min-width: 769px) and (max-width: 991px) {
    .jumbotron {
        height: 230px;
        padding-left: 40px!important;
    }
    .kart {
        visibility: hidden!important;
    }
    .card {
        width: 10rem;
    }
}
/* small ekran için geçerli */
@media (min-width: 576px) and (max-width: 768px) {
    .jumbotron {
        height: 175px;
        padding-left: 20px!important;
    }
    .kart {
        visibility: hidden!important;
    }
    .card {
        width: 9rem;
    }
    
}

@media (max-width: 575px) {
    .jumbotron {
        height: 175px;
        padding-left: 20px!important;
    }
    
}